{% extends 'main/base.html' %}
{% load static %}

{% block title %}Portal{% endblock %}

{% block content %}
<div class="px-6 bg-sky-50 rounded-xl">
    <h2 class="text-3xl px-6 py-8 text-center">My Events</h2>

    <div class="grid grid-cols-3 gap-6">
        {% for event in events %}
        <div class="bg-white rounded-xl overflow-hidden shadow-lg">
            <a href="{% url 'event:detail' event.id %}">
                <div class="w-full h-48">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" class="object-cover w-full h-full rounded-t-xl" alt="{{ event.name }}">
                    {% else %}
                    <div class="flex items-center justify-center h-full w-full bg-gray-100 rounded-t-xl rounded-xl">
                        <img src="{% static 'images/default_image.jpeg' %}" class="h-3/4 w-3/4 object-contain" alt="Default Event Image">
                    </div>
                    {% endif %}
                </div>

                <div class="p-4">
                    <h2 class="text-xl font-semibold">{{ event.name }}</h2>
                    <p class="text-sky-600">Price: {{ event.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Wallet Balance Section -->
    <div class="mt-10">
        <h2 class="text-3xl px-6 py-8 text-center">Wallet Balance</h2>
        <div class="bg-white rounded-xl shadow-lg p-6">
            <p class="text-lg font-semibold text-gray-700 flex justify-between">
                <span>Total Balance:</span>
                <span>${{ total_balance|floatformat:2 }}</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}